<html>
	<head>
		<title>kitchenthing</title>
		<style type="text/css">
			* {
				font-family: Helvetica, sans-serif;
			}
		</style>
	</head>

	<body>

<h1>kitchenthing</h1>

<p>
Hi. I've been running for {{.Uptime}}.
</p>

<pre>
{{.Logs}}
</pre>

	</body>
</html>

