<html>
	<head>
		<title>kitchenthing</title>
		<style type="text/css">
			* {
				font-family: Helvetica, sans-serif;
			}
		</style>
	</head>

	<body>

<h1>kitchenthing</h1>

<p>
Hi. I've been running for {{.Uptime}}.
</p>

{{with .Photos}}
<form action="/set-next-photo" method="POST">
<label for="photo-select">Next photo to use:</label>
<select name="photo" id="photo-select">
	{{range .}}
	<option value="{{.}}">{{.}}</option>
	{{end}}
</select>
<input type="submit" value="Set">
</form>
{{end}}

<pre>
{{.Logs}}
</pre>

	</body>
</html>

